body{
	background: #f1f1f1;
}
.racetrack {
	border-top: 3px solid red;
	border-bottom: 3px solid red;
	overflow: auto;
	margin-top: 20px;
	width: 100%;
}
.track {
	height:40px;
	background-color:#0f0;
	display:block;
	min-width:100%;
	float: left;
}
.track:not(:last-child) {
	border-bottom:2px solid black;
}
.runner {
	height:50px;
	width:40px;
	background:url('j.png');
	background-position: 0 0;
	position:absolute;
	margin-top:-20px;
}
.hide{
	display: none;
}
.center{
	text-align: center;
}